html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.jumbo {
    background-image: url("../jumbo-image.jpg");
    min-height: 400px;
    padding: 24px;
    position: relative;

    p {
        font-size: 20px;
    }
}

.jumbo-content {
    position: absolute;
    bottom: 0;
    padding-bottom: 24px;
}

.field-validation-error {
    color: red;
}

.validation-summary-errors ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 16px;

    li {
           color: darkred;
           border-left: 3px solid red;
           padding-left: 10px;
           padding-top: 3px;
           padding-bottom: 3px;
           background-color: rgba(255, 0, 0, 0.05);
           margin-bottom: 2px;
       }
}

.video-container {
    position: relative;
    display: block;

    * {
        width: 70%;
        margin: 0 auto;
      }
}