@using MyCourse.Models.ViewModel
@{
    ViewData["Title"] = "Home Page";
    @model HomeViewModel
}

<div class="jumbo mb-3">
    <div class="jumbo-content">
        <h1 class="display-4">Benvenuto su <strong>MyCourses</strong></h1>
        <p>Benvenuti su MyCourses, la miglior piattoforma per crescere da casa</p>
        <a class="btn btn-primary btn-lg" asp-action="Index" asp-controller="Courses">Sfoglia Corsi <i class="bi bi-arrow-right"></i></a>
    </div>
</div>

<h2>Aggiunti di recente</h2>
<section class="list-group mt-1 mb-3">
    @foreach (var course in Model.MostRecentCourses)
    {
        <partial name="_CourseLine" model="@course"></partial>
    }
</section>

<h2>Migliori di sempre</h2>

<section class="list-group mt-1 mb-3">
    @foreach (var course in Model.BestRatingCourse)
    {
        <partial name="_CourseLine" model="@course"></partial>
    }
</section>