@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbo">
    <div class="jumbo-content">
        <h1 class="display-4">Benvenuto su <strong>MyCourses</strong></h1>
        <p>Benvenuti su MyCourses, la miglior piattoforma per crescere da casa</p>
        <a class="btn btn-primary btn-lg" asp-action="Index" asp-controller="Courses">Sfoglia Corsi <i class="bi bi-arrow-right"></i></a>
    </div>
</div>
