@model CourseCreateInputModel

<h2>Crea Nuovo Corso</h2>
<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="All"></div>
    </div>
</div>
<form method="post">
    <section class="row">
        <div class="col-md-8">
            <input type="text" asp-for="Title" placeholder="Inserisci un titolo..." class="form-control form-control-lg" />
            <span asp-validation-for="Title"></span>
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-outline-primary btn-lg btn-block" asp-action="Create">
                <i class="bi bi-rocket-takeoff me-2"></i>Crea Corso
            </button>
        </div>
    </section>
</form>